# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# ML / experiments
mlruns/
clearml/
logs/
*.log

# Model artifacts
models/
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
